/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* HEADER */

* {
    text-decoration: none;
}

header {
    background-color: #fff;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header #header_logo {
    font-family: "Calibri Light";
    font-size: 23px;
    font-weight: 900;
    color: #111;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
}

header nav ul li {
    display: inline-block;
    float: left;
    list-style: none;
}

header nav ul li a {
    font-family: "Calibri Light";
    font-size: 18px;
    color: #111;
    padding: 0 16px;
    text-transform: uppercase;
}

header #header_cases {
    display: none;
}

@media only screen and (min-width: 910px) {
    header #header_logo {
        margin: 31px 0;
        text-align: left;
        line-height: 38px;
        padding: 0px 20px 0px 40px;
        border-right: 3px solid #111;
        float: left;
    }

    header nav ul {
        margin: 20px 0px 0px 20px;
        float: left;
    }
    
    header nav ul li a {    
        line-height: 60px;
    }

    header #header_cases {
        display: block;
        font-family: "Calibri Light";
        font-size: 18px;
        color: #111;
        text-transform: uppercase;
        line-height: 36px;
        border: 1px solid #111111;
        float: right;
        margin-right: 40px;
        margin-top: 31px;
        padding: 0px 20px;
    }
}

/* MAIN PAGE */

main {
    padding-top: 100px;
}

.index_banner {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url('images/adult_business.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    display: table;
}

.vertical_center {
    display: table-cell;
    vertical-align: middle;
}

.index_banner h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    font-weight: 900;
    line-height: 70px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}

.index_banner h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 28px;
    font-weight: 10;
    font-style: italic;
    line-height: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}

.index_links div {
    margin: 15px 15px 0px;
    height: 100px;
    background-color: #f2f2f2;  
}

p {
    color: #111;
}

.index_links div h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 100px;
    color: #111;
    text-align: center;
    text-transform: uppercase;
}

@media only screen and (min-width: 1000px) {
    .wrapper {
        width: 1000px;
        margin: 0 auto;
    }

    .index_banner {
        height: 450px;
    }   

    .index_banner h2 {
        display: block;
        width: 560px;
        margin: 0 auto;
    }

    .index_links {
        overflow: hidden;
    }

    .index_links div {
        margin: 20px 10px 0;
        height: 200px;
        float: left;
    }

    .index_links div h3 {
        line-height: 200px;
    }

    .index_box-square {
        width: 22%;
    }

    .index_box-rectangle {
        width: 50%;
    }
}

/* Cases Page */

.cases_links {
    overflow: hidden;
    margin-bottom: 20px;
}

.cases_links h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #111;
    text-transform: uppercase;
}

.cases_links .wrapper div {
    float: left;
    width: 230px;
    height : 230px;
    margin: 20px 10px 0;
    background-color: #e3e3e3;
}

.cases_links .wrapper div p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #111;
    text-align: center;
    line-height: 230px;
    text-transform: uppercase;
}

/* Case1 */

.case_vid h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #111;
    text-align: center;
    text-transform: uppercase;
}

.case_vid video {
    display: block;
    margin: 0 auto;
    width: 600px;
    height: 375px;    
}

.case_vid article h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #111;
    text-transform: uppercase;  
    padding: 20px 0;
}

.case_vid article p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #111;
    text-transform: uppercase;  
    column-count: 3;
    column-gap: 30px; 
}

/* Case2 */

.gallery-links-h2 {
    font-family: "Calibri Light";
    font-size: 28px;
    font-weight: 600;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
}

.gallery-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.gallery-img {
    flex-basis: 300px;
    margin: 10px;
}

 .gallery-img img {
    width: 100%;
}
/* FOOTER */

footer {
    width: calc(100%-80px);
    padding: 40px 40px;
    margin-top: 20px;
    background-color: #111;
    overflow: hidden;
}

footer ul {
    width: fit-content;
    float: left;
    padding-left: 20px;
}

footer ul li {
    display: block;
    list-style: none;
}

footer ul li a {
    font-family: "Calibri Light";
    font-size: 22px;
    color: #fff;
    line-height: 37px;
}

.footer_links-cases {
    display: none;
}

.footer_sm {
    width: 50px;
    float: right;
}

.footer_sm img {
    width: 100%;
    margin-bottom: 10px;
}

@media only screen and (min-width: 1000px) { 
    .footer_links-cases {
        display: block;
        margin-left: 50px;
    }
}